.button_container{
    background-color: var(--tertiary);   
    
}
.button_contain_text{
    display: flex;
}
.arrow{
    width: 25px;
}

.button_description{
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button_container:hover{
    border-color: var(--secondary);
}