.container{
    width: 100vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);        
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
