*{
    text-decoration: none;
    list-style: none;

}
.nav_container{
    width: 72vw;
    display: flex;
    top: 0;
    position: absolute;
    margin-right: var(--margin);
    margin-left: var(--margin);
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.list_item{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.logo_container{
   display: flex;
   z-index: 0;
}
.brand{
    font-family: var(--title);
    font-size: 36px;
    display: flex;
    align-items: center;
}

.item{
    font-family: var(--subtitle);
    color:black;
}


@media screen and (max-width:768px) {
   .nav_container{
    margin: 0;
   }
   
    
}
