*{
    text-decoration: none;
    list-style: none;
    
}
.nav_container{
    width: 72vw;
    display: flex;
    top: 0;
    position: absolute;
    margin-right: var(--margin);
    margin-left: var(--margin);
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.list_item{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.logo_container{
   display: flex;
   z-index: 0;
   
}
.brand{
    font-family: var(--title);
    font-size: 36px;
    display: flex;
    align-items: center;
    color: black;
}

.item{
    font-family: var(--subtitle);
    color:black;
}


@media screen and (max-width:768px) {
   .nav_container{
    margin: 0;
    width: 100vw;
   }
   .list{
    width: 100vw;
    position: absolute;
    left: 0;
    background-color: var(--secondary);
    height: 100%;
    margin-top: 5%;
   }

   .list_item{
    display: flex;
    height: 40%;
    width: 100%;
    position: relative;
    justify-content: center;

    } 
    .burger{
        right: 0;
    }

   
}
