.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}
  
.svgContainer {
    width: 300%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
    z-index: 2;
}
  
.Bg{
    position: absolute;
    width: 80%;
    height: 80%;
    background: linear-gradient(45deg, var(--tertiary) 20%,var(--secondary)100%);
    z-index: 1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
}
  
  .Btn:hover .Bg {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  

  