.container{
  display: flex;
  align-items: center

}
.text{
  font-size: var(--text);
  color: black;
}
.Btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    /* overflow: hidden; */
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}
  
.svgContainer {
    width: 300%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all .3s;

    z-index: 2;
}
  
.Bg{
    position: absolute;
    width: 70%;
    height: 70%;
    background: linear-gradient(5deg, var(--secondary) 80%,var(--primary)100%);
    z-index: 1;
    border-radius: 9px; 
    pointer-events: none;
    transition: all .3s;
}
  
  .Btn:hover .Bg {
    transform: rotate(35deg);
    transform-origin: bottom;
  }
  

  