@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&family=Thasadith&display=swap');

body{
  background-image: url("/aw-background.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: bottom;
  --title: 'Thasadith', sans-serif;
  --text: 'Quicksand', sans-serif;
  --subtitle: 'Raleway', sans-serif;
  --margin:245px;
  --primary:  #EED2AD;
  --secondary:  #F6EDDB;
  --tertiary: #9D7629;

}